
@import 'https://fonts.googleapis.com/css?family=Roboto';

html {
	overflow: auto;
}

/*
html, body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

#content {
	min-height: 100%;
	width: 100%;
	text-align: center;
}

.cover-thumbnail {
	max-width: 256px;
	max-height: 256px;
	margin: 1ex;
}

.item-block {
	display: inline-block;
	position: relative;
}
.file-block {
	margin: 0.5ex;
	padding: 0.5ex;
	border: 1px solid #333;
}
.item-name {
	margin-left: 1ex;
}

.cover-name {
	position: absolute;
	top: 0; left: 0;
	background-color: #DDD;
	opacity: 0.8;
	padding: 0.5ex;
}
.episode-block {
	position: absolute;
	top: 0; right: 0;
	font-size: x-large;
}
.episode-button {
	color: #DDD;
	background-color: #222;
	display: inline-block;
	padding: 0.5ex;
	margin-left: 0.5ex;

	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}




.tag {
	background-color: green;
}
*/
