
@import 'https://fonts.googleapis.com/css?family=Roboto';

html {
	font-family: Roboto;
}
	
.hidden {
	display: none !important;
}


.item-block {
	display: inline-block;
	position: relative;
	font-size: 10pt;

	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.file-block {
	margin: 0.5ex;
	padding: 0.5ex 0.5em;
	height: 2em;
	line-height: 1.5em;
	border-radius: 3em;
	background-color: #a8a8a8;
}
.folder-block {
	background-color: #8cc800;
}
.item-name {
	margin-left: 1ex;
}

/*
.grommetux-header.overwrite {
	overflow: hidden;
}
.grommetux-search-input.overwrite {
	transition: font-size 500ms ease-in-out;
	-webkit-transition: font-size 500ms ease-in-out;
	font-size: 0.5rem;
}
.grommetux-search-input.overwrite > .grommetux-search-input__input {
	padding-right: 0;
	border: none;
}
.grommetux-search-input.overwrite > .grommetux-search-input__control {
	right: 0;
}
.grommetux-search-input.overwrite > .grommetux-search-input__control > .grommetux-button__icon {
	padding: 3px;
}
.tags-bar-container:hover .grommetux-search-input.overwrite {
	font-size: 1.5rem;
}
.tags-bar-container:hover .grommetux-search-input.overwrite > .grommetux-search-input__input {
	border: 1px solid rgba(0,0,0,.15);
}



.tag-menu {
	overflow-x: hidden;
	width: 100%;
	height: 50em;
}
.tag-item {
	white-space: nowrap;
}
.tag-first-char {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 50px;
	text-align: center;
	vertical-align: bottom;
}
.tags-bar-container {
	transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;


	position: fixed;
	z-index: 100;
	max-width: 50px;
}
.tags-bar-container:hover {
	max-width: 50vw;
}

.content-container {
	transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	margin-left: 50px;
	min-height: 100vh;
}
.tags-bar-container:hover + .content-container {
	opacity: 0.7;
}



.cover-tile {
	padding: 1ex;
	flex-basis: 250px;
}

.cover-title-block {
	opacity: 0.7;
	min-height: auto;
}
.cover-title {
	padding: 1ex;
	font-size: small;
}
.episode-block {
	// need to set this, so that can set scrollLeft
	overflow: hidden;
}
.episode-arrow-block {
	position: relative;
	// override grommet css
	min-width: auto;
}
.episode-arrow {
	position: absolute;
	margin: auto; top: 0; bottom: 0;
	height: 1em;

	opacity: 0.7;
	font-size: 200%;
}
.episode-arrow-left {
	left: 0.3ex;
}
.episode-arrow-right {
	right: 0.3ex;
}
.episode-button {
	white-space: nowrap;
	// override grommet css
	min-width: auto;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}



*/



















/*
html, body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

#content {
	min-height: 100%;
	width: 100%;
	text-align: center;
}

.cover-thumbnail {
	max-width: 256px;
	max-height: 256px;
	margin: 1ex;
}

.cover-name {
	position: absolute;
	top: 0; left: 0;
	background-color: #DDD;
	opacity: 0.8;
	padding: 0.5ex;
}
.episode-block {
	position: absolute;
	top: 0; right: 0;
	font-size: x-large;
}
.episode-button {
	color: #DDD;
	background-color: #222;
	display: inline-block;
	padding: 0.5ex;
	margin-left: 0.5ex;

	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}




.tag {
	background-color: green;
}
*/
