

// http://paletton.com/#uid=73B0u0kgDKn65XZbLS1kNBhoMuI
// http://www.colourlovers.com/palette/173625/Browser_wars
// http://www.colourlovers.com/palette/215539/Yellow_Tree_Frog
// http://www.colourlovers.com/palette/4412354/Condescending_Witch
// http://www.colourlovers.com/palette/4412369/Fruit_Salad

@import reset
@import container
@import pull-down-nav
@import search-bar
@import side-nav
@import grid
@import cover
@import loading
@import modal-block

// for rem using
html:root
	font-size: 15pt


nav[role=navigation]
	border: 1px solid #ccc

.nav
	&__list
		border: 1px solid #ccc
		&__item
			border: 1px solid #ccc
	&__link
		border: 1px solid #ccc
		&--active
			border: 1px solid #ccc
